<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form (ngSubmit)="onChangePasswordSubmit()" #changePasswordForm="ngForm">
                        <div class="form-group">
                            <label for="oldPassword">Old Password</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" required
                                [(ngModel)]="changePasswordData.oldPassword">
                        </div>

                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required
                                [(ngModel)]="changePasswordData.newPassword">
                        </div>

                        <div class="form-group">
                            <label for="newConfirmPassword">Confirm New Password</label>
                            <input type="password" class="form-control" id="newConfirmPassword"
                                name="newConfirmPassword" required [(ngModel)]="changePasswordData.newConfirmPassword"
                                [ngModelOptions]="{ updateOn: 'blur' }" #newConfirmPassword="ngModel">
                            <div *ngIf="newConfirmPassword.invalid && newConfirmPassword.dirty" class="text-danger">
                                <div *ngIf="newConfirmPassword.errors?.['required']">Confirm new password is required.
                                </div>
                                <div *ngIf="newConfirmPassword.value !== changePasswordData.newPassword">
                                    New password and confirm new password do not match.
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="changePasswordForm.invalid || newConfirmPassword.value !== changePasswordData.newPassword">
                                Change Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>