<div class="container ">
  <h2>All Orders</h2>
  <table class="table table-striped custom-table container mt-4">

    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order._id }}</td>
        <div class="jj" *ngIf="order.user">
          <td>{{ order.user.firstName }}</td>
          <!-- <td>{{ order.user.email }}</td> -->
          <!-- <td>{{ order.user.phone }}</td> -->
          <!-- <td>{{ order.user.address }}</td> -->
        </div>
        <!-- <td>{{ order.delegate }}</td>
        <td>{{ order.supervisor }}</td> -->
        <td>{{ order.senderName }}</td>
        <td>{{ order.senderPhone }}</td>
        <!-- <td>{{ order.senderEmail }}</td> -->
        <td>{{ order.senderPostalCode }}</td>
        <td>{{ order.senderAddress }}</td>
        <td>{{ order.receivedName }}</td>
        <td>{{ order.receivedPhone }}</td>
        <!-- <td>{{ order.receivedEmail }}</td> -->
        <td>{{ order.receivedPostalCode }}</td>
        <!-- <td>{{ order.receivedAddress }}</td> -->
        <td>{{ order.category }}</td>
      </tr>
    </tbody>
  </table>
<br>
<br>
<br>
<br>



  <h2>Deleget Orders</h2>
<table class="table table-striped custom-table container">
  <thead>
    <tr>
      <!-- <th>Order ID</th> -->
      <!-- <th>User</th> -->
      <!-- <th>Track ID</th> -->
      <th>Sender Name</th>
      <th>Sender Phone</th>
      <!-- <th>Sender Email</th> -->
      <th>Sender Postal Code</th>
      <th>Sender Address</th>
      <th>Received Name</th>
      <th>Received Phone</th>
      <!-- <th>Received Email</th> -->
      <th>Received Postal Code</th>
      <th>Received Address</th>
      <!-- <th>Category</th> -->
      <!-- <th>Status</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of delegateOrders">
      <!-- <td>{{ order._id }}</td> -->
      <!-- <td>{{ order.user }}</td> -->
      <!-- <td>{{ order.trackId }}</td> -->
      <td>{{ order.senderName }}</td>
      <td>{{ order.senderPhone }}</td>
      <!-- <td>{{ order.senderEmail }}</td> -->
      <td>{{ order.senderPostalCode }}</td>
      <td>{{ order.senderAddress }}</td>
      <td>{{ order.receivedName }}</td>
      <td>{{ order.receivedPhone }}</td>
      <!-- <td>{{ order.receivedEmail }}</td> -->
      <td>{{ order.receivedPostalCode }}</td>
      <td>{{ order.receivedAddress }}</td>
      <!-- <td>{{ order.category }}</td> -->
      <!-- <td>{{ order.status }}</td> -->
    </tr>
  </tbody>
</table>

<br>
<br>
<br>
<br>

<div class="container">
  <h2 class="text-center">Add Proof</h2>
  <div class="form-group">
    <label for="orderId">Order ID:</label>
    <input type="text" id="orderId" class="form-control" [(ngModel)]="orderId">
  </div>
  <br>
  <div class="form-group">
    <label for="proofImage">Proof Image:</label>
    <input type="file" id="proofImage" class="form-control-file" (change)="onFileSelected($event)">
  </div>
  <br>
  <button class="btn btn-primary" (click)="addProof()">Add Proof</button>
</div>
<br>
<br>
<br>
<h2 class="text-center">Take Order</h2>
<div class="form-group">
  <label for="orderId">Order ID:</label>
  <input type="text" id="orderId" class="form-control" [(ngModel)]="orderIdTack">
</div>
<br>
<button class="btn btn-primary" (click)="takeOrder()">Take Order</button>

<br>
<br>
<br>
<br>
<!-- <div class="container"> -->
  <h2 class="text-center">Order Confirmation</h2>
  <div class="form-group">
    <label for="orderId">Order ID:</label>
    <input type="text" id="orderId" class="form-control" [(ngModel)]="orderPutId">
  </div>
<br>


  <div class="form-group">
    <label for="confirmationType">Confirmation Type:</label>
    <select id="confirmationType" class="form-control" [(ngModel)]="confirmationType">
      <option value="Delivered">Delivered</option>
      <option value="Rejected">Rejected</option>
    </select>
  </div>
<br>

  <button class="btn btn-primary" (click)="confirmOrder()">Confirm</button>
<!-- </div> -->

</div>


