<div class="container">
  <div class="row">
    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit()"
      class="col-md-6 offset-md-3"
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="userForLogin!.email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          name="email"
          #email="ngModel"
        />

        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-danger"
        >
          <div *ngIf="email.hasError('required')">Email is required.</div>
          <div *ngIf="email.hasError('pattern')">Invalid email format.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="userForLogin!.password"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,10}$"
          name="password"
          #password="ngModel"
        />

        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-danger"
        >
          <div *ngIf="password.hasError('required')">Password is required.</div>
          <div *ngIf="password.hasError('pattern')">
            Password must be 6-10 characters long and contain at least one
            lowercase letter, one uppercase letter, one digit, and one special
            character.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
