<div class="container">
  <h1>Welcome to our Delivery Service!</h1>
  <p>Order your favorite items and have them delivered right to your door.</p>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-img-top" src="https://placeimg.com/300/200/food" alt="Food">
        <div class="card-body">
          <h5 class="card-title">Delicious Meals</h5>
          <p class="card-text">Browse our menu and choose from a variety of delicious meals.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-img-top" src="https://placeimg.com/300/200/drinks" alt="Drinks">
        <div class="card-body">
          <h5 class="card-title">Refreshing Drinks</h5>
          <p class="card-text">Quench your thirst with our wide selection of refreshing drinks.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-img-top" src="https://placeimg.com/300/200/delivery" alt="Delivery">
        <div class="card-body">
          <h5 class="card-title">Fast Delivery</h5>
          <p class="card-text">We guarantee fast and reliable delivery straight to your doorstep.</p>
        </div>
      </div>
    </div>
  </div>
</div>
