<div class="container">
    <div class="row">
        <form (ngSubmit)="verify()" class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="userReset.email" readonly
                    [ngModelOptions]="{standalone: true}" />
            </div>

            <div class="form-group">
                <label for="otp">OTP</label>
                <input type="text" class="form-control" id="otp" [(ngModel)]="userReset.otp" required
                    [ngModelOptions]="{standalone: true}" />
            </div>

            <button type="submit" class="btn btn-primary">Verify OTP</button>
        </form>
    </div>
</div>