<div class="container">
    <div class="row">
        <form #resetForm="ngForm" (ngSubmit)="onResetSubmit()" class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" required
                    [(ngModel)]="emailForUser!.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    [ngModelOptions]="{standalone: true}" #emailFor="ngModel" />

                <div *ngIf="emailFor.invalid && (emailFor.dirty || emailFor.touched)" class="text-danger">
                    <div *ngIf="emailFor.hasError('required')">Email is required.</div>
                    <div *ngIf="emailFor.hasError('pattern')">Invalid email format.</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">
                Reset Password
            </button>
        </form>
    </div>
</div>