<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="../../../assets/images/default-user.png" class="card-img-top user-avatar" alt="User Avatar">
                <div class="card-body">
                    <h5 class="card-title">{{ userInformation?.firstName }} {{ userInformation?.lastName }}</h5>
                    <p class="card-text">Email: {{ userInformation?.email }}</p>
                    <p class="card-text">Phone: {{ userInformation?.phone }}</p>
                    <p class="card-text">Address: {{ userInformation?.address }}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" routerLink="/change-password">Change Password</button>
                    <button class="btn btn-primary m-3" routerLink="/my-orders">My Orders</button>
                </div>
            </div>
        </div>
    </div>
</div>